/*FILM-BAR*/

.film-bar {
  display: flex;
  position: relative;
}
.film-bar article {
  position: relative;
  width: 25%;
}
.film-bar article::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(1deg, black  0.5%, transparent 60%) ;
 
}
.title-gender {
  position: absolute;
  bottom: 20%;
  left: 25px;
}
.title-gender h3 {
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.title-gender a {
  font-size: 14px;
  color: white;
}
.trailer-info {
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  gap: 25px;
}
