/*FILM-BAR*/
.gender{
    height: 350px;
}
.film-bar{
    display: flex;
    position: relative;
    width: 100%;
}
.film-bar article{
    position: relative;
}
.title-gender{
    position: absolute;
    bottom:20%;
    left: 25px;
    
}
.title-gender h3{
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
.title-gender a{
    font-size: 10px;
    color: white;
}
.trailer-info {
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    gap: 25px;
}