.bg-footer{
    background-color: #1a1d24;
}
.footer{
    display: flex;
    height: 350px;
    max-width: 1200px;
    position: relative;
    background-color: #1a1d24;
    justify-content: space-evenly;
    margin-inline: auto;
    color: rgb(145, 143, 143);
    font-family: var(--font-quote), "Roboto", sans-serif;
    padding-top: 6%;
}


.footer :nth-child(1) span{
    display: flex;
}
.footer :nth-child(1) img{
   padding-bottom: 15px;
}
.footer :nth-child(4) nav ul{
    display: flex;
    position: relative;
    fill: white;
    size: 12px;
    justify-content: space-between;
    padding-top: 40px;
}

.footer div h3{
    font-weight: var(--weight-title);
    font-family: "Roboto", sans-serif;;
    font-size: 14px;
    color: var(--color-title);
    text-transform: uppercase;
    padding-bottom:  15px;
     align-items: center;
    gap: 10px;
    display: flex;}

.footer div ul li{
    padding-bottom: 10px;
}
.ul-line::after{
    display: flex;
    content: "";
    width: 20px;
    height: 1px;
    background-color: red;
}
.ul-line{
    align-items: center;
    gap: 10px;
}

footer > div:nth-child(4) > nav > ul > div{
    width: 35px;
    height: 35px;
    display: flex;
    padding-top: 12.5px;
}
footer > div:nth-child(4) > nav > ul{
    gap: 10px;
}
footer > div:nth-child(4) > nav{
    display: flex;
    justify-content: start;
}
footer > div:nth-child(4) > nav > ul > div:nth-child(1){
    background-color:#1da1f3 ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer > div:nth-child(4) > nav > ul > div:nth-child(2){
    background-color:#3a559f;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer > div:nth-child(4) > nav > ul > div:nth-child(3){
    background-color:#ce2e92;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer > div:nth-child(4) > nav > ul > div:nth-child(4){
    background-color:#e0041d;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.newsletter::after{
    display: flex;
    content: "";
    width: 250px;
    height: 1px;
    background-color: grey;
}