/* tag - llama etiqueta html
. - llama a class
# - llama a ID */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
 ) {
        all: unset;  
        display: revert;
    }
*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto';
}
li {
    list-style: none;
}
.bg-main{
    background-color: #1a1d24;
}
.header{
    display:flex ;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: white;
    fill: white;
    max-width: 1200px;
    margin-inline: auto;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0,06em;
    }
.header svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.header .social-menu {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    fill: white;
}
.news {
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
}
