/* tag - llama etiqueta html
. - llama a class
# - llama a ID */
*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto'
}
li {
    list-style: none;
}
.header{
    display:flex ;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: white;
    fill: white;
}
.header{
    background-color: #2c2929;
} 
.header svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.header .social-menu {
    display: flex;
}

.list {
    display: flex;
}