:root{
    --font-title: 'Roboto',sans-serif;
    --color-title: white;
    --weight-title: 700;
    --font-quote: 'Lora', serif;
}
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
 ) {
        all: unset;  
        display: revert;
    }
*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto';
}
li {
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
main{
    background-color: #a8a8a8;
}




