.red-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  gap: 5px;
  z-index: 3;
  right: -0.7%;
}

.buy-theme {
  position: relative;
  display: flex;
  width: 70px;
  height: 60px;
  fill:black;
  background-color: #e0011a;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 3px 2px #74000e;
  transition-duration: 0.5s;
  svg{
     position: absolute;
     left: 25%;
 }
 &:hover {
   transform: translateX(-15%);
 }
}
.best-sellers {
  position: relative;
  display: flex;
  width: 70px;
  height: 60px;
  fill: black;
  background-color: #e0011a;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 3px 2px #74000e;
  transition-duration: 0.5s;
  &:hover {
    transform: translateX(-15%);
  }
   svg{
      position: absolute;
      left: 25%;
  }
}
.hide-panel {
  position: relative;
  display: flex;
  width: 70px;
  height: 60px;
  fill: black;
  background-color: #e0011a;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 3px 2px #74000e;
  transition-duration: 0.5s;
  svg{
     position: absolute;
     left: 25%;
 }
 &:hover {
   transform: translateX(-15%);
 }
}

.scroll-to-start {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 50px;
  height: 50px;
  fill: white;
  background-color: #1a1d24;
  align-items: center;
  justify-content: center;
  top: 87%;
  left: 95%;
  &:hover{
    fill: #e0011a;
  }
}

/* media queries */
@media screen and (max-width: 740px){
  .red-buttons{
    display: none;
  }
  .scroll-to-start{
    display: none;
  }
}