:root {
  --font-title: 'Roboto Condensed', sans-serif;
  --color-title: white;
  --weight-title: 700;
  --font-quote: "Lora", serif;
  --color-header: #1a1d24;
  --color-after:#e0011a;
}
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;  
  font-family: 'Lora', serif;
  font-family: 'Roboto Condensed', sans-serif;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  background-color: #a8a8a8;
}
a {
  cursor: pointer;
}
img {
  cursor: pointer;
}
h3 {
  cursor: pointer;
}
time{
  cursor: pointer;
}

.scroll-to-start{
  display: flex;
  position: fixed;
  z-index: 3;
  width: 50px;
  height: 50px;
  fill: white;
  background-color: #1a1d24;
  align-items: center;
  justify-content: center;
  top: 87%;
  left: 95%;

}